<text-adjuster (onSizeEmitted)="sizeWasChanged($event)"></text-adjuster>
<div><span><br /></span></div>
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group">
            <label for="comment">Input:</label>
            <textarea [style.font-size.px]="fontSize" style="resize:none" class="form-control" rows="18" id="comment" [formControl]="myForm.controls['left']">
            </textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group">
            <label for="comment">Output:</label>
            <textarea [style.font-size.px]="fontSize" style="resize:none" readonly class="form-control" rows="18" id="comment" [formControl]="myForm.controls['right']">
            </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>